//U99350821

body {
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
  }
  
  header {
    background-color: #1a4cb1;
    padding: 20px;
    color: white;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .profile {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 200px;
  }
  
  .profile img {
    width: 100%;
    border-radius: 50%;
  }
  
  .profile h2 {
    font-size: 1.2em;
    margin: 10px 0 5px;
  }
  
  .profile p {
    font-size: 1em;
    color: #555;
  }

  footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    color: black;
  }
  
